node_modules
.env
.env.local
.env*.local
.expo/
.expo
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
local.properties
*.tsbuildinfoexpo-env.d.ts
firestore*
expo-env.d.ts